*{
    padding: 0;
    margin: 0;
}
body{
    height: 95hv;
    width: 95hv;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #050527;
}
.pontuacao{
    display: inline-flex;
}
h3{
    margin-right: 40px;
}